<head>
  <title><%=t('layouts.logo')%></title>
  <link rel="stylesheet" href="../../assets/stylesheets/application.css">
</head>
<div id="flash"></div>
<body>
  <section id="container">
    <section>
      <p style="font-size: 22px;">
        <%=t('layouts.slogan')%>
      </p>
    </section>
    
  </section>


<%=render "showcards"%>

</body>
