<h1>Мои колоды</h1>

<% @card.select(:deck).distinct.each do |card|%>
  <%if not card.deck.blank? %>
    <ul class="list-group">
      <li class="list-group-item">
    <%= link_to card.deck, cards_showdeck_path(card.deck) %>
        <% if current_user.actual_deck == card.deck %>
          <span class="badge badge-pill badge-success">Текущая</span>
          <%else%>
          <span class="badge badge-inverse"><%= link_to 'Сделать текущей',cards_actualdeck_path(card.deck)%></span>
          <%end%>
        <span class="badge badge-default"><%=Card.where(deck: card.deck).count%></span>
    </li>
    </ul>
    <%end%>
<%end%>
