<h2>Добавление колоды</h2>
<%= simple_form_for (@deck) do |f| %>
  <h5>Название</h5>
  <div class= "form_group">
    <%= f.text_field :name  %>
  </div>
  <div class= "form_group">
    <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
  </div>
<%end%>